body {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.card {
  margin: 225px 0 225px 0;
}

.top-card {
  background: url(images/bg-pattern-card.svg);
  height: 100px;
  width: 50%;
  margin: 0 auto;
}

.profile-image {
  background: url(images/image-victor.jpg) no-repeat;
  border-radius: 50%;
  height: 100px;
  width: 50%;
  margin: 0 290px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
